/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root{
    --color1:rgb(1, 109, 28);
    --color2:#0c2053;
    --color3:#302b2ed8;
    --box-sh:0 .5rem 1.5rem rgba(0,0,0,.1);
}

/* Style de l'ensemble du document */
*{
    font-family: 'Cinzel', serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

/* Style de la webkit scrollbar, mise avec thème de couleur du site */
html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #fff;
  }
  
  html::-webkit-scrollbar-thumb {
    background: var(--color1);
    border-radius: 5rem;
  }

/* Style général des sections */
section{
    padding:2rem 9%;
}


section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--color1);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--color2);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

  /* Style des boutons */
.btn{
    margin-top: 2rem;
    display: flex;
    font-size: 1.7rem;
    color:#fff;
    background: var(--color2);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem .8rem 1.5rem;
}

/* Style du survol des boutons */
.btn:hover{
    background: var(--color1);
    letter-spacing: .1rem;
}


/* Style de la tête de page et barre de navigation */
header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-sh);
}

/* Style logo dans la barre de navigation */
header .logo{
    color:var(--color2);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--color1);
}

header .logo a{
    font-size: 1.7rem;
}

/* Style des onglets de la barre de navigation */
header .navbar a{
    font-size: 1.5rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--color2);
    text-transform:uppercase;
}

/* Préparation du paramètrage de suivis et survol onglets */
header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--color1);
}

/* Style des icones reseaux sociaux */
header .social i,
header .social a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--color2);
    border-radius: 50%;
    background: #eee;
    
}

header .social i:hover,
header .social a:hover{
    color:#fff;
    background: var(--color1);
    transform:scale(1.25)
}

/* On cache le menu-nav, on en a besoin seulement pour media querry */
header .social #menu-nav{
    display: none;
}

/* Début du style de la page d'accueil */
.pa .pa-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem; 
    padding-top: 9rem;
}

.pa .pa-slider .slide .content{
    flex:1 1 30rem;
}

.pa .pa-slider .slide .image{
    flex:1 1 30rem;
}

.pa .pa-slider .slide .image img{
    width: 100%;
}

.pa .pa-slider .slide .content span{
    color:var(--color1);
    font-size: 2.5rem;
}

.pa .pa-slider .slide .content h3{
    color:var(--color2);
    font-size: 5rem;
}

.pa .pa-slider .slide .content p{
    color:var(--color3);
    font-size: 2rem;
    padding:.5rem 0.5rem;
    line-height: 1.25;
}

.swiper-pagination-bullet-active{
    background:var(--color1);
}

/* Fin du style de la page d'accueil */